<p>TRADITION AND LOVE</p>
<h2>HOM IT’S MADE</h2>
<div>
    <img src="./images/about/about.png" alt="" width="516">
</div>
<div>
    <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorems eget, egestas
        eros.
        Maecenas eleifend erat at justo fringilla.</p>
    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
    <p>Aliquam erat volutpat. Aenean accumsan.</p>
    <button type="button">Read more
        <svg width="4.43" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
    </button>
</div>