<section class="comments">
    <div class="container comments__container">
        <div class="slider-wrap">
            <div class="slider-wrap__item">
                <img class="comments__icon" src="./images/comments/comments-icon-mobile.png" alt="счастливая девушка">
                <div class="comments__text-frame">
                    <p class="comments__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc,
                        accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="location">
                    <p class="location__text">Emily, Los Angeles</p>
                </div>

            </div>
            <div class="slider-wrap__item">
                <img class="comments__icon" src="./images/comments/comments-icon2.png"
                    alt="довольная клиентка в желтом платье">
                <div class="comments__text-frame">
                    <p class="comments__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc,
                        accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="location">
                    <p class="location__text">Nona, Chicago</p>
                </div>

            </div>
            <div class="slider-wrap__item">
                <img class="comments__icon" src="./images/comments/comments-icon3.png" alt="девушка в очках улыбается">
                <div class="comments__text-frame">
                    <p class="comments__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc,
                        accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="comments__location">
                    <p class="comments__location-text">Lily, New York</p>
                </div>

            </div>
        </div>


    </div>
</section>