<section class="contacts">
  <div class="container">
    <h1 class="visually-hidden">contacts and addresses</h1>
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <b class="contacts__title"> CAFE </b>
        <ul class="contacts-card list">
          <li class="contacts-card__item">
            <b class="contacts-card__city-name">Chicago</b>
            <p class="contacts-card__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__item">
            <b class="contacts-card__working-day">Monday - Friday</b>
            <p class="contacts-card__working-time"><time>06:00</time> AM - <time>10:00</time> PM</p>
            <b class="contacts-card__working-day">Saturday - Sunday</b>
            <p class="contacts-card__working-time"><time>08:00</time> AM - <time>16:00</time> PM</p>
          </li>
          <li class="contacts-card__item">
            <a href="tel:+610383766284" class="contacts-card__tel link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-card__email link">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-list__item">
        <b class="contacts__title"> FOODTRUCK </b>
        <ul class="contacts-card list">
          <li class="contacts-card__item">
            <b class="contacts-card__city-name">Los Angeles</b>
            <p class="contacts-card__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__item">
            <b class="contacts-card__working-day">Monday - Friday</b>
            <p class="contacts-card__working-time"><time>08:00</time> AM - <time>16:00</time> PM</p>
            <b class="contacts-card__working-day">Saturday - Sunday</b>
            <p class="contacts-card__working-time"><time>08:00</time> AM - <time>16:00</time> PM</p>
          </li>
          <li class="contacts-card__item">
            <a href="tel:+610383766284" class="contacts-card__tel link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-card__email link">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-list__item">
        <b class="contacts__title"> CAFE </b>
        <ul class="contacts-card list">
          <li class="contacts-card__item">
            <b class="contacts-card__city-name">New York</b>
            <p class="contacts-card__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__item">
            <b class="contacts-card__working-day">Monday - Friday</b>
            <p class="contacts-card__working-time"><time>06:00</time> AM - <time>10:00</time> PM</p>
            <b class="contacts-card__working-day">Saturday - Sunday</b>
            <p class="contacts-card__working-time"><time>08:00</time> AM - <time>16:00</time> PM</p>
          </li>
          <li class="contacts-card__item">
            <a href="tel:+610383766284" class="contacts-card__tel link"> +61(0) 383 766 284 </a>
            <a href="mailto:noreply@envato.com" class="contacts-card__email link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts-button list">
      <li class="contacts-button__item">
        <button class="accent-button">Our Locations</button>
      </li>
      <li class="contacts-button__item">
        <button class="base-button">Franchise</button>
      </li>
    </ul>
  </div>
</section>
